<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% javascripts
        'js/vendors/jquery.js'
        'js/vendors/underscore-min.js'
        'js/vendors/backbone.js'
        'js/vendors/datatable.js'
        'js/vendors/bootstrap.min.js'
        'js/vendors/d3.min.js'
        '@AppBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}

        {% stylesheets
        'css/vendors/bootstrap.min.css'
        'css/vendors/bootstrap-theme.min.css'
        'css/vendors/datatables.bootstrap.min.css'
        'css/vendors/datatables.jqueryui.min.css'
        'css/vendors/custom.css' %}
        <link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    {{ include('default/barGraph.twig') }}
</html>
