<script type="text/html" id="barGraph-template">
    <form name="myform" onsubmit="" >
        <label for="dateMenu">Select a year from the menu:</label>
        <select name ="dateMenu" id="menuInput">
            <option  value="Select a date">Choose a date</option>
        </select>
    </form>
    <div id="firstRow">
        <div id="firstGraph">
            <svg class="chart1"></svg>
            <div id="legendsFirstGraph">
                <h3>Info about the graph</h3>
                <p>Axis info</p>
                <ul>
                    <li><strong>X-axis :</strong> Legends</li>
                    <li><strong>Y-Axis :</strong> Value in metre</li>
                </ul>
                <p>Legends Info</p>
                <ul>
                    <li><strong>lev :</strong> Elevation</li>
                    <li><strong>hs :</strong> Significant wave height</li>
                    <li><strong>hs :</strong> Spectral estimate of maximum wave</li>
                    <li><strong>hs_sw1 :</strong> Significant wave height of primary swell</li>
                    <li><strong>hs_sw8 :</strong> Significant wave height of swell (> 8s)</li>
                    <li><strong>hs_ses8 :</strong> Significant wave height of sea (< 8s)</li>
                    <li><strong>hs_sea :</strong> Significant wave height of wind sea</li>
                    <li><strong>hs_ig :</strong> Infragravity significant wave height</li>
                    <li><strong>hs_fig :</strong> Far infragravity wave height</li>
                    <li><strong>ss : </strong> Storm surge elevation</li>
                </ul>
            </div>
        </div>

        <div id="secondGraph">
            <svg class="chart2"></svg>
            <div id="legendsSecondGraph">
                <h3>Info about the graph</h3>
                <p>Axis info</p>
                <ul>
                    <li><strong>X-axis :</strong> Legends</li>
                    <li><strong>Y-Axis :</strong> Value in seconds</li>
                </ul>
                <p>Legends Info</p>
                <ul>
                    <li><strong>tp :</strong> Peak Period</li>
                    <li><strong>tm01 :</strong> Mean wave period 1</li>
                    <li><strong>tm02 :</strong> Mean wave period 2</li>
                    <li><strong>tp_sw1 :</strong> Peak period of primary swell</li>
                    <li><strong>tp_sw8 :</strong> Peak period of swell (> 8s)</li>
                    <li><strong>tp_sea8 :</strong> Peak period of sea (< 8s)</li>
                    <li><strong>tp_sea :</strong> Peak period of wind sea</li>
                    <li><strong>tm_sea :</strong> Mean period of wind sea</li>
                </ul>
            </div>
        </div>

        <div id="thirdGraph">
            <svg class="chart3"></svg>
            <div id="legendsSecondGraph">
                <h3>Info about the graph</h3>
                <p>Axis info</p>
                <ul>
                    <li><strong>X-axis :</strong> Legends</li>
                    <li><strong>Y-Axis :</strong> Value in knots</li>
                </ul>
                <p>Legends Info</p>
                <ul>
                    <li><strong>wsp :</strong> Mean wind speed at 10 m</li>
                    <li><strong>gst :</strong> Typical gust speed</li>
                    <li><strong>wd :</strong> Wind direction (from)</li>
                    <li><strong>wsp100 :</strong> Mean wind speed at 100 m</li>
                    <li><strong>wsp50 :</strong> Mean wind speed at 50 m</li>
                    <li><strong>wsp80 :</strong> Mean wind speed at 80 m</li>
                    <li><strong>csp0 :</strong> Surface current speed</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div id="fourthGraph">
            <svg class="chart4"></svg>
        </div>
    </div>
</script>