<script type="text/html" id="barGraph-template">
    <form name="myform" onsubmit="" >
        <label for="dateMenu">Select a year from the menu:</label>
        <select name ="dateMenu" id="menuInput">
            <option  value="Select a date">Choose a date</option>
        </select>
    </form>

    <svg class="chart"></svg>
</script>